* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    width: 25rem;
    height: 30rem;
    border: 2px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator .display {
    margin: 15px 0px;
    padding: 8px;
    width: 95%;
    height: 20%;
    background: #c0c4c4;
    border: 1px solid black;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.calculator .history {
    font-size: 22px;
}

.calculator .current {
    font-size: 35px;
}

.calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 5px;
    width: 95%;
}

.calculator .buttons button {
    flex: 1 1 calc(25% - 10px);
    height: 63px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

.calculator .buttons .clearButton,
.calculator .buttons .deleteButton {
    background-color: #e6a65e;
    flex: 1 1 calc(50% - 5px);
}
.calculator .buttons .clearButton:hover,
.calculator .buttons .deleteButton:hover {
    background-color: #d4862f;
}
